@import 'tailwindcss';

/* fonts */
@theme {
	/* LCARS color */
	--A-hue: 21.5;
	--B-hue: 47;
	--C-hue: 65;
	--D-hue: 282;
	--E-hue: 326;

	/* Lightness values */
	--50-l: 99%;
	--100-l: 90%;
	--200-l: 80%;
	--300-l: 69%;
	--400-l: 61%;
	--500-l: 45%;
	--600-l: 31%;
	--700-l: 20%;
	--800-l: 9%;
	--900-l: 5%;

	/* Chroma values */
	--50-s: 0.05;
	--100-s: 0.1;
	--200-s: 0.2;
	--300-s: 0.25;
	--400-s: 0.3;
	--500-s: 0.23;
	--600-s: 0.2;
	--700-s: 0.2;
	--800-s: 0.18;
	--900-s: 0.11;

	--color-A-50: oklch(var(--50-l) var(--50-s) var(--A-hue));
	--color-A-100: oklch(var(--100-l) var(--100-s) var(--A-hue));
	--color-A-200: oklch(var(--200-l) var(--200-s) var(--A-hue));
	--color-A-300: oklch(var(--300-l) var(--300-s) var(--A-hue));
	--color-A-400: oklch(var(--400-l) var(--400-s) var(--A-hue));
	--color-A-500: oklch(var(--500-l) var(--500-s) var(--A-hue));
	--color-A-600: oklch(var(--600-l) var(--600-s) var(--A-hue));
	--color-A-700: oklch(var(--700-l) var(--700-s) var(--A-hue));
	--color-A-800: oklch(var(--800-l) var(--800-s) var(--A-hue));
	--color-A-900: oklch(var(--900-l) var(--900-s) var(--A-hue));
	--color-B-50: oklch(var(--50-l) var(--50-s) var(--B-hue));
	--color-B-100: oklch(var(--100-l) var(--100-s) var(--B-hue));
	--color-B-200: oklch(var(--200-l) var(--200-s) var(--B-hue));
	--color-B-300: oklch(var(--300-l) var(--300-s) var(--B-hue));
	--color-B-400: oklch(var(--400-l) var(--400-s) var(--B-hue));
	--color-B-500: oklch(var(--500-l) var(--500-s) var(--B-hue));
	--color-B-600: oklch(var(--600-l) var(--600-s) var(--B-hue));
	--color-B-700: oklch(var(--700-l) var(--700-s) var(--B-hue));
	--color-B-800: oklch(var(--800-l) var(--800-s) var(--B-hue));
	--color-B-900: oklch(var(--900-l) var(--900-s) var(--B-hue));
	--color-C-50: oklch(var(--50-l) var(--50-s) var(--C-hue));
	--color-C-100: oklch(var(--100-l) var(--100-s) var(--C-hue));
	--color-C-200: oklch(var(--200-l) var(--200-s) var(--C-hue));
	--color-C-300: oklch(var(--300-l) var(--300-s) var(--C-hue));
	--color-C-400: oklch(var(--400-l) var(--400-s) var(--C-hue));
	--color-C-500: oklch(var(--500-l) var(--500-s) var(--C-hue));
	--color-C-600: oklch(var(--600-l) var(--600-s) var(--C-hue));
	--color-C-700: oklch(var(--700-l) var(--700-s) var(--C-hue));
	--color-C-800: oklch(var(--800-l) var(--800-s) var(--C-hue));
	--color-C-900: oklch(var(--900-l) var(--900-s) var(--C-hue));
	--color-D-50: oklch(var(--50-l) var(--50-s) var(--D-hue));
	--color-D-100: oklch(var(--100-l) var(--100-s) var(--D-hue));
	--color-D-200: oklch(var(--200-l) var(--200-s) var(--D-hue));
	--color-D-300: oklch(var(--300-l) var(--300-s) var(--D-hue));
	--color-D-400: oklch(var(--400-l) var(--400-s) var(--D-hue));
	--color-D-500: oklch(var(--500-l) var(--500-s) var(--D-hue));
	--color-D-600: oklch(var(--600-l) var(--600-s) var(--D-hue));
	--color-D-700: oklch(var(--700-l) var(--700-s) var(--D-hue));
	--color-D-800: oklch(var(--800-l) var(--800-s) var(--D-hue));
	--color-D-900: oklch(var(--900-l) var(--900-s) var(--D-hue));
	--color-E-50: oklch(var(--50-l) var(--50-s) var(--E-hue));
	--color-E-100: oklch(var(--100-l) var(--100-s) var(--E-hue));
	--color-E-200: oklch(var(--200-l) var(--200-s) var(--E-hue));
	--color-E-300: oklch(var(--300-l) var(--300-s) var(--E-hue));
	--color-E-400: oklch(var(--400-l) var(--400-s) var(--E-hue));
	--color-E-500: oklch(var(--500-l) var(--500-s) var(--E-hue));
	--color-E-600: oklch(var(--600-l) var(--600-s) var(--E-hue));
	--color-E-700: oklch(var(--700-l) var(--700-s) var(--E-hue));
	--color-E-800: oklch(var(--800-l) var(--800-s) var(--E-hue));
	--color-E-900: oklch(var(--900-l) var(--900-s) var(--E-hue));

	--color-A: var(--color-A-200);
	--color-B: var(--color-B-200);
	--color-C: var(--color-C-300);
	--color-D: var(--color-D-300);
	--color-E: var(--color-E-300);
	--color-white: var(--color-A-50);
	--color-black: var(--color-A-900);

	--font-sans: 'Mona Sans', sans-serif;
	--font-modern-negra: var(--font-modern-negra);
	--font-dm-serif: var(--font-dm-serif);
}

:root {
	--color-bg-grainient-back: var(--color-E);
	--color-bg-grainient-fore: var(--color-black);
	--color-bg-zig-back: --alpha(var(--color-E) / 80%);
	--color-bg-zig-fore: --alpha(var(--color-C) / 80%);
	--color-bg-triangles-back: var(--color-D);
	--color-bg-triangles-back-acc: oklch(from var(--color-D) calc(l * 0.92) calc(c * 0.95) h);
	--color-bg-triangles-fore: var(--color-A);
	--color-bg-triangles-fore-acc: oklch(from var(--color-A) calc(l * 0.92) calc(c * 0.95) h);
}

html,
body {
	width: 100%;
	height: 100%;
	background-color: var(--color-black);
	color: var(--color-white);
	scroll-behavior: smooth;
	overflow-x: hidden;
}

@utility flex-center {
	@apply flex justify-center items-center;
}

@utility col-center {
	@apply flex flex-col justify-center items-center;
}

@utility abs-center {
	@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility bg-grainient {
	background-color: var(--color-bg-grainient-back);
	background-image: linear-gradient(
			20deg,
			var(--color-bg-grainient-fore) 0%,
			--alpha(var(--color-bg-grainient-fore) / 0.6) 50%,
			var(--color-bg-grainient-fore) 100%
		),
		url('/images/grain.svg');
}

@utility bg-zig {
	background-color: var(--color-bg-zig-back);
	background-image: linear-gradient(45deg, var(--color-bg-zig-fore) 25%, transparent 25%),
		linear-gradient(135deg, var(--color-bg-zig-fore) 25%, transparent 25%),
		linear-gradient(225deg, var(--color-bg-zig-fore) 25%, transparent 25%),
		linear-gradient(315deg, var(--color-bg-zig-fore) 25%, transparent 25%);
	background-size: 4rem 4rem;
	background-position: 0 0, 2rem 0, 2rem 0, 0 0;
}

@utility bg-triangles {
	background-color: var(--color-bg-triangles-back);
	background-image: conic-gradient(
		var(--color-bg-triangles-fore-acc) 1%,
		var(--color-bg-triangles-fore) 1%,
		var(--color-bg-triangles-fore) 15%,
		var(--color-bg-triangles-back-acc) 15%,
		var(--color-bg-triangles-back-acc) 16%,
		transparent 16%,
		transparent 20%,
		var(--color-bg-triangles-fore-acc) 20%,
		var(--color-bg-triangles-fore-acc) 21%,
		var(--color-bg-triangles-fore) 21%,
		var(--color-bg-triangles-fore) 25%,
		var(--color-bg-triangles-back-acc) 25%,
		var(--color-bg-triangles-back-acc) 26%,
		transparent 26%,
		transparent 35%,
		var(--color-bg-triangles-fore-acc) 35%,
		var(--color-bg-triangles-fore-acc) 36%,
		var(--color-bg-triangles-fore) 36%,
		var(--color-bg-triangles-fore) 42%,
		var(--color-bg-triangles-back-acc) 42%,
		var(--color-bg-triangles-back-acc) 43%,
		transparent 43%,
		transparent 50%,
		var(--color-bg-triangles-fore-acc) 50%,
		var(--color-bg-triangles-fore-acc) 51%,
		var(--color-bg-triangles-fore) 51%,
		var(--color-bg-triangles-fore) 62%,
		var(--color-bg-triangles-back-acc) 62%,
		var(--color-bg-triangles-back-acc) 63%,
		transparent 63%,
		transparent 69%,
		var(--color-bg-triangles-fore-acc) 69%,
		var(--color-bg-triangles-fore-acc) 70%,
		var(--color-bg-triangles-fore) 70%,
		var(--color-bg-triangles-fore) 78%,
		var(--color-bg-triangles-back-acc) 78%,
		var(--color-bg-triangles-back-acc) 79%,
		transparent 79%,
		transparent 88%,
		var(--color-bg-triangles-fore-acc) 88%,
		var(--color-bg-triangles-fore-acc) 89%,
		var(--color-bg-triangles-fore) 89%,
		var(--color-bg-triangles-fore) 95%,
		var(--color-bg-triangles-back-acc) 95%,
		var(--color-bg-triangles-back-acc) 96%,
		transparent 96%,
		transparent 100%
	);
}

@utility title {
	@apply text-6xl p-15 h-15 leading-5 md:text-[14rem] text-center font-modern-negra text-white text-shadow-lg shadow-sm bg-white/10 outline-10 outline-offset-[-1rem] outline-double outline-white/70 md:p-40 md:h-40 md:leading-15;
}

@layer components {
	main {
		@apply w-full overflow-x-hidden;
	}
	h1 {
		@apply title;
	}
	section {
		@apply absolute inset-0 size-full bg-black flex justify-center items-center;
	}

	.tc-nav {
		@apply fixed z-50 w-full bg-black/80 backdrop-blur-xl border-b-4 shadow-md;

		div {
			@apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
		}

		p {
			@apply font-modern-negra text-3xl -mb-2;
		}

		a {
			@apply cursor-pointer text-nowrap md:text-base text-sm;
		}

		ul {
			@apply flex-center lg:gap-12 gap-7;
		}
	}

	#hero {
		@apply bg-grainient;
	}

	#about {
		@apply bg-zig;
	}

	#contact {
		@apply bg-triangles;
	}

	#colors {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		ul {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			li {
				display: flex;
				flex-direction: column;
				gap: 0.25rem;
				padding: 0.5rem;
				width: 10rem;
			}
		}
	}

	.tc-footer {
		@apply w-full bg-black text-white py-10;

		div {
			@apply container mx-auto flex flex-col md:flex-row justify-between items-center gap-5;
		}

		p {
			@apply text-sm;
		}

		a {
			@apply cursor-pointer;
		}
	}
}
